 <template>
  <div class="row justify-content-center">
      <div class="col-md-8">
          <div class="card card-default">
              <div class="card-header">Store your ToDo's </div>

              <div class="card-body">
                  Manage your ToDo Items with this Application. Developed to exercise usage of MEVN stack for Databse connection to MongoDB and CRUD operations. 
				  Dependencies: Nodemon server, MongoDB 
              </div>
          </div>
      </div>
  </div>
 </template>
 <script>
 export default {
 }
 </script>